<component name="ArtifactManager">
  <artifact type="exploded-war" name="MyBatis-Spring:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/MyBatis_Spring_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="MyBatis-Spring/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="MyBatis-Spring" />
        </element>
      </element>
    </root>
  </artifact>
</component>